.git
.gitignore
.docker-data
.local-storage
.next
.turbo
coverage
dist
node_modules
test-results
**/.local-storage
**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
**/test-results
*.log
*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.*.example
!**/.env.example
!**/.env.*.example

openspec
README.md
